<h1>Welcome to Scrabble!!</h1>
  <form action="/scrab">
    <div class="form-group">
       <label for="scrab">What would you like to have scrabbled?
  </label>
       <input id="scrab" name="scrab" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-success">Send</button>
  </form>
